/* Ref: https://codepen.io/alvarotrigo/pen/vYdYRwb */
:root {
  --green-color: #329e78;
  --green-focus-color: #20644c;
  --blue-color: #3785bc;
  --blue-focus-color: #265b81;
  --red-color: #dd3c3a;
  --red-focus-color: #ad201e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.component:not(:first-child) {
  margin-top: 30px;
}
